coffee:
    window.HISTORIES_INDEX = true

h1 Chart

.row
    .col-xs-12
        canvas#historicalChart

h1 Buckets

table#buckets.table

h1 Activities

/ Load the activities
/ Group the activities by periods
/ Display surface graph

table#activities.table
